<!DOCTYPE html>
<html>
<head>
    <title>Update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class="navbar">
      <a href="#"><img src="../static/img/header-logo-pc.png"></a>
      <a href="#"> TriageX </a>
    </div>

    <div>
      <form method="POST" id="updateForm">
          <label >Build ID</label>
          <input type="text" id="buildId" name="build_id" placeholder="Enter build id here..." required>
          <label>Test Name</label>
          <input type="text" id="testName" name="test_name" placeholder="Enter the test id here..." required>
          <label>Error Code</label>
          <select name="errorCodeType" onchange="toggleVisibility(this)" required >
              <option value="list" selected>Error thread</option>
              <option value="dictionary">Error code and Error thread</option>
          </select>
          <span id="ethread">
             <label for="errorThread">Error Thread</label>
            <input type="text" id="errorThread" placeholder="Enter error thread here..." name="errorThread" required>
          </span>
          <span id="ecode">
            <label for="errorCode">Error Code</label>
            <input type="text" id="errorCode" name="errorCode" placeholder="Enter the error code here..." >
          </span>
          <label>Type of Error</label>
          <select name="errorType" required>
              <option value="" selected disabled>Choose here</option>
              <option value="Ui">UI</option>
              <option value="Api">API</option>
          </select>
          <label>Error Label</label>
          <select name="errorLabel" required>
              <option value="" selected disabled>Choose here</option>
              <option value="Automation">Framework</option>
              <option value="Product">Product</option>
          </select>
          <input type="submit" value="Submit">
      </form>
    </div>
    <script src="../static/js/feedback.js"></script>
</body>
</html>