<!DOCTYPE html>
<html>
<head>
    <title>TriageX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class="navbar">
      <a href="#"> TriageX </a>
    </div>

    <div>
      <form method="POST" id="urlForm">
          <label >URL</label>
          <input type="text" id="url" name="test_url" placeholder="https://www.example.com" pattern="https?://*.+" required>
          <input type="checkbox" id="is_auth" name="reqAuth" value="auth" onCLick="toggleVisibility(this)" > Require Authorization<br>
          <div id ='auth-div'>
            <span id="uname">
                <label for="email">Username</label>
                <input type="email" id="email" placeholder="Enter email" name="username">
            </span>
            <span id="pwd">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" placeholder="Enter password" name="password">
            </span>
          </div>
          <input type="submit" value="Submit"></span>
      </form>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>

