<!DOCTYPE html>
<html>
<head>
    <title>TriageX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class="navbar">
      <a href="#"><img src="../static/img/header-logo-pc.png"></a>
      <a href="#"> TriageX </a>

        {% if show_flag %}
             <div class="navbar-right">

                <a href="{{ url_for('feedback') }}">Update Unknown Errors</a>
                <a href="http://127.0.0.1:5601/goto/5fdc5c6c512c657cbc57dc919f05a52d" >Report</a>
             </div>
        {% endif %}

    </div>

    <div>
      <form method="POST" id="urlForm">
          <label >URL</label>
          <input type="text" id="url" name="test_url" placeholder="https://www.example.com" pattern="https?://*.+" required>
          <input type="checkbox" id="is_auth" name="reqAuth" value="auth" onCLick="toggleVisibility(this)" > Require Authorization<br>
          <div id ='auth-div'>
            <span id="uname">
                <label for="email">Username</label>
                <input type="email" id="email" placeholder="Enter email" name="username">
            </span>
            <span id="pwd">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" placeholder="Enter password" name="password">
            </span>
          </div>
          <input type="submit" value="Submit"></span>
      </form>

    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>

