<!DOCTYPE html>
<html>
  <head>
    <title>Sample Rule-Set</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  </head>

  <body>
      <div class="navbar">
        <a href="#"><img src="../static/img/header-logo-pc.png"></a>
        <a href="{{ url_for('index') }}"> TriageX </a>
        <a href="{{ url_for('index') }}" style="float: right;"> Back </a>
      </div>
      <pre id="json1"></pre>
      <pre id="json2"></pre>
      <script src="/static/js/ruleset.js"></script>
  </body>
</html>

